/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (max-width: 480px) {
  .mobileBanner {
    width: 200%;
  }
}

/* @media only screen and (max-width: 600px) { */
  .bannerAds {
    padding: 10px 10px 10px 10px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0 6px 6px 6px;
  }
/* } */

/* padding: 50px 30px 35px 30px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0 6px 6px 6px; */
